.shop-page-panel {
  font-size: 1.5em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.shop-page-panel a {
  text-decoration: none;
  color: #000;
}

.picture-card {
  max-width: fit-content;
  background-color: #fff;
  text-align: center;
  border: 5px solid #000;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media screen and (max-width: 810px) {
  .picture-card {
    min-width: 60vw;
  }
}

@media screen and (max-width: 350px) {
  .picture-card {
    min-width: 85vw;
  }
}

.image {
  width: 300px;
  height: 400px;
}

.card-text {
  padding: 1rem;
  font-size: 1.5em;
  color: #000;
}

.picture-card p {
  display: block;
}
