h2 {
  text-align: center;
  background-color: #005f4e;
  font-size: 50px;
  color: white;
}

.contact-panel {
  max-width: 100%;
}

.left-box {
  width: 50%;
  min-height: 700px;
  padding: 1rem;
  background-color: #52857c;
  font-size: 1.5em;
  float: left;
  margin: 1rem;
}

.left-box a {
  color: white;
}

.right-box {
  float: right;
  width: 40%;
  min-height: 700px;
  padding: 1rem;
  background-color: #c2c2c2;
  margin: 1rem;
  font-size: 1.2em;
}

@media screen and (max-width: 775px) {
  .left-box,
  .right-box {
    float: none;
    width: 100%;
    min-height: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1rem;
  }
}

input[type="submit"] {
  padding: 0.5rem;
}
