.background {
  background-image: url(../Images/unsplash-keagan-henman-tshirts.png);
  background-position: center;
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
}

.picture-card {
  max-width: fit-content;
  background-color: #fff;
  text-align: center;
  border: 5px solid #000;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media screen and (max-width: 810px) {
  .picture-card {
    min-width: 60vw;
  }
}

@media screen and (max-width: 350px) {
  .picture-card {
    min-width: 85vw;
  }
}
.card-text {
  padding: 1rem;
  font-size: 1.5em;
}

.picture-card p {
  display: block;
}

#maintext {
  margin-top: 1rem;
}
#maintext p {
  margin: 0.7rem;
  font-size: 1.7em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 300px;
  height: 400px;
}

.homepage-panel {
  font-size: 1.5em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.homepage-panel a {
  text-decoration: none;
  color: #000;
}

#testimonials {
  font-size: 1.7em;
  margin-top: 1.2rem;
}

#testimonials h2 {
  font-size: 1.1em;
  margin-bottom: 1rem;
}

#testimonials p {
  margin: 1rem;
}

@media screen and (max-width: 450px) {
  #testimonials p {
    margin: 0.5rem;
    text-align: left;
  }
  .section-title {
    text-align: left;
  }

  #maintext {
    margin-top: 1.2rem;
  }
  #maintext p {
    margin: 0.5rem 0rem 0.5rem 0rem;
  }
}
