h3 {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.central {
  width: 500px;
  margin: auto;
  background-color: white;
  padding: 2em;
  color: black;
}

canvas {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* BUY BUTTON */
.buy-button-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buy-button {
  cursor: pointer;
  text-decoration: none;
  padding: 2px;
  background-color: orange;
  color: black;
  text-align: center;
  border: black solid 2px;
  text-transform: capitalize;
  border-radius: 3px;
}


/* FROM ONLINE */
canvas {
  background-color: #eee;
  transition: opacity .3s;
}
.canvas-wrap {
  margin-top: 50px;
  position: relative;
}
#canvasID {
  z-index: 9999;
}